 body{
    font-family:Times New Roman;
 }
 
 #footer{
	position: fixed;
	bottom:0px;
	width:100%;
 }
 .menuelements
 {
		font-size:20px;
		color:#787878;
		padding:1em;
		border-bottom: solid;
		border-color:#505050;
		font-family:Times;
		
 }
 .newsPic
 {
	width:100%;
 }
  .menuelements:active
 {
		background-color:#282828;
	}
.landingitem
{
	margin:5%;
	padding:10px;
}
.landingitem:active
{
	background-color:black;
}
 .cust-header{
    padding:0px !important;
	font-size:1.8em;
	display:block;
    width:100%;
	color:white;
	background-color:#B62126;
	font-family:times;
 }
 
 .cust-header h1{
    margin: 0px !important;
 }
 .newsElement
 {

 }
 .sportelement
 {
	font-family:futura;
	background-color:#B62126;
	color:white;
	font-size:1.5em;
	margin:10px;
	border-style:solid;
	border-color:black;
	border-width:2px;
 }
 
  .sportelement:active
  {
	background-color:#282828;
  }
 .accordion-group
 {
	margin:15px;
 }
 
 .sportExtraHeader
 {
	padding:10px;
	font-size:1.3em;
	color:white;
	width:100%;
	background-color:#B62126;
 }
 
  .sportExtraHeader:active
  {
	background-color:#282828;
  }
 
 .sportPagePic
 {
	width:100%;
 }	
 a.menu-button{
	background-color:#ffffff !important;
	border:none !important;
	box-shadow:none !important;
	margin:10px !important;
	padding:0px;
	position:absolute !important;
	top:0px !important;
	left:0px !important
 }
 a.menu-button:active{
    background-color:#ffffff !important;
	border:none;
	padding:0px;
		
    }
 img.menu-button-pic{
    width:40px;
    height:40px;
	
 } 
 .date-spot{
    font-size:3em;
 }
